.nav-bar {
  background: #35BCAF;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;
    transition: all 0.3s ease-out;
    img {
      display: block;
      margin: 20px auto;
      width: 60px;
      height: auto;
    }

    &:hover {
      scale: 1.1;
      transition: all 0.3s ease-out;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 30px;
      color: #35BCAF;
      display: block;
      line-height: 70px;
      height: 70px;
      position: relative;
      text-decoration: none;

      i{
        transition: all 0.3s ease-out;
      }
      .menu-icon{
        transition: all 0.3s ease-out;
      }
      &:hover {
        color: #18534d;

        svg {
          opacity: 0;
        }

        &:after{
          opacity: 1;
        }
      }

      &:after{
        content: '';
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 1px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child{
        &::after{
          content: 'INICIO';
        }
      }
    }
    a.about-link {
      &:after {
        content: 'SORBE MÍ';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACTO';
      }
    }
    a.active {
      svg {
        color:#18534d
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 25px;
        line-height: 16px;

        .social-icon {
          transition: all 0.3s ease-out;
        }
        &:hover svg{
          color: #18534d;
          transition: all 0.3s ease-out;
          scale: 1.1;
        }
      }
    }
  }
}

